@mixin font($size, $weight: normal, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin d-flex($justify: start, $align: start, $wrap: nowrap, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}
