* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #678ff2;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

figure,
blockquote {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.divider {
  margin: 0;
  width: 100%;
}

.footer-section .footer__terms-link:hover, .header .nav__title-link:hover, .header .nav__links .list__item-link:hover, .header .nav .covid__link:hover {
  cursor: pointer;
  color: #000;
}

.hero__notify-btn:hover {
  cursor: pointer;
  color: #fff;
}

.header .nav .globe__link-icon:hover {
  cursor: pointer;
  stroke: #000;
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #fff;
}
.header .nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}
.header .nav__title {
  height: 100%;
  width: 255px;
  border-right: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}
.header .nav__title-link {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.header .nav__title-link span {
  font-weight: 700;
}
.header .nav__links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}
.header .nav__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: min(100px, 5vw);
  padding: 0 10px 0 min(100px, 5vw);
}
.header .nav__links .list__item-link {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 992px) {
  .header .nav__links .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: min(100px, 5vw);
    padding: 0;
  }
}
.header .nav .covid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  padding: 0 30px;
  white-space: nowrap;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.header .nav .covid__link {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.header .nav .globe {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}
.header .nav .globe__link-icon {
  fill: #fff;
  width: 27px;
  height: 28px;
}
@media (max-width: 768px) {
  .header .nav .list,
  .header .nav .covid,
  .header .nav .globe {
    display: none;
  }
}

.hero {
  position: relative;
  max-width: 1260px;
  height: 830px;
  margin: 0 auto;
  padding: 140px 0 0 0;
  background: url(../assets/img/cloud_alpha.png) center/contain no-repeat;
}
.hero__content {
  position: relative;
  width: 900px;
  margin: 0 auto;
}
.hero__content .hero__title {
  font-size: 110px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
}
.hero__content .hero__action-btn {
  width: 380px;
  height: 80px;
  background: #000;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 245px;
  right: 0;
}
.hero__content .hero__action-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.hero__content .hero__action-btn:focus {
  outline: none;
}
.hero__content .hero__action-btn:focus-visible {
  outline: 2px solid #fff;
}
@media (max-width: 992px) {
  .hero__content {
    width: 100%;
    max-width: 700px;
    height: 500px;
  }
  .hero__content .hero__title {
    font-size: 100px;
    font-weight: 700;
    color: #000;
  }
  .hero__content .hero__action-btn {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 15px;
  }
  .hero__content .hero__notify {
    margin: 290px auto 0;
  }
}
@media (max-width: 768px) {
  .hero__content {
    max-width: 560px;
    height: 400px;
  }
  .hero__content .hero__title {
    font-size: 75px;
    font-weight: 700;
    color: #000;
  }
  .hero__content .hero__action-btn {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 260px;
    height: 60px;
  }
}
@media (max-width: 576px) {
  .hero__content {
    max-width: 350px;
    height: 280px;
  }
  .hero__content .hero__title {
    font-size: 45px;
    font-weight: 700;
    color: #000;
  }
}
.hero__notify {
  position: relative;
  margin: 170px auto 0;
  width: 680px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding: 0 0 0 90px;
}
.hero__notify-img {
  width: 126px;
  height: 198px;
  position: absolute;
  z-index: 1;
  top: -75px;
  left: -35px;
}
.hero__notify-desc {
  width: 450px;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}
.hero__notify-btn {
  width: 115px;
  background: none;
  border: none;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin: 0 auto;
}
.hero__notify-btn:focus {
  outline: none;
}
.hero__notify-btn:focus-visible {
  outline: 2px solid #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .hero__notify {
    width: 100%;
    max-width: 450px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .hero__notify-desc {
    width: 100%;
    padding: 15px 10px 15px 90px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    border-right: none;
    border-bottom: 1px solid #fff;
    line-height: 1.3;
  }
  .hero__notify-btn {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    padding: 15px 0;
  }
}
@media (max-width: 576px) {
  .hero__notify-img {
    position: absolute;
    z-index: 1;
    top: -45px;
    left: -35px;
  }
  .hero__notify-desc {
    font-size: 11px;
    font-weight: 400;
    color: #000;
    padding: 10px 10px 10px 100px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 110px 15px 0;
    background: url(../assets/img/cloud_alpha.png) 0 25%/contain no-repeat;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 700px;
  }
}

.work-section {
  padding: 50px 20px 180px;
}
.work-section .work {
  margin: 0 auto;
  text-align: center;
}
.work-section .work__title {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 80px 0;
}
@media (max-width: 428px) {
  .work-section .work__title {
    display: none;
  }
}
.work-section .work__card-wrapper {
  margin: 0 auto;
  max-width: 950px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 65px 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 65px;
  place-items: center;
      grid-template-areas: "analysis design dev" "maintenance testing integration";
}
.work-section .work__card-wrapper .card--analysis {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: analysis;
  -ms-grid-column-align: start;
      justify-self: start;
}
.work-section .work__card-wrapper .card--design {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: design;
  -ms-grid-column-align: center;
      justify-self: center;
}
.work-section .work__card-wrapper .card--development {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: dev;
  -ms-grid-column-align: end;
      justify-self: end;
}
.work-section .work__card-wrapper .card--maintenance {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: maintenance;
  -ms-grid-column-align: start;
      justify-self: start;
}
.work-section .work__card-wrapper .card--testing {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: testing;
  -ms-grid-column-align: center;
      justify-self: center;
}
.work-section .work__card-wrapper .card--integration {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: integration;
  -ms-grid-column-align: end;
      justify-self: end;
}
.work-section .work__card-wrapper .icon--analysis {
  width: 29px;
  height: 41px;
}
.work-section .work__card-wrapper .icon--design {
  width: 47px;
  height: 38px;
}
.work-section .work__card-wrapper .icon--development {
  width: 50px;
  height: 31px;
}
.work-section .work__card-wrapper .icon--maintenance {
  width: 43px;
  height: 41px;
}
.work-section .work__card-wrapper .icon--testing {
  width: 44px;
  height: 42px;
}
.work-section .work__card-wrapper .icon--integration {
  width: 42px;
  height: 36px;
}
@media (max-width: 768px) {
  .work-section .work__card-wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "dev analysis" "design maintenance" "integration testing";
  }
  .work-section .work__card-wrapper .card--analysis,
  .work-section .work__card-wrapper .card--design,
  .work-section .work__card-wrapper .card--development,
  .work-section .work__card-wrapper .card--maintenance,
  .work-section .work__card-wrapper .card--testing,
  .work-section .work__card-wrapper .card--integration {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .work-section .work__card-wrapper .card--analysis {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .work-section .work__card-wrapper .card--design {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .work-section .work__card-wrapper .card--development {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .work-section .work__card-wrapper .card--maintenance {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .work-section .work__card-wrapper .card--testing {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .work-section .work__card-wrapper .card--integration {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

.info-card {
  width: 180px;
  height: 205px;
  padding: 20px 11px 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.info-card__icon {
  width: 25px;
  height: 25px;
  fill: #000;
}
.info-card__title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.info-card__desc {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.info-card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}
.info-card:hover .info-card__icon {
  fill: #fff;
}
.info-card:hover .info-card__title {
  color: #fff;
}
.info-card:hover .info-card__desc {
  color: #fff;
}
@media (max-width: 428px) {
  .info-card {
    width: 140px;
    height: 150px;
  }
  .info-card__title {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .info-card__desc {
    font-size: 11px;
    font-weight: 300;
    color: #000;
  }
}

.img-card {
  position: relative;
  width: 325px;
  height: 295px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.img-card__title {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.img-card__preview {
  width: 100%;
  height: 220px;
}
.img-card__btn {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: -30px;
  width: 120px;
  height: 90px;
  border-radius: 20px;
  border: none;
  background: #fff;
  rotate: z 7deg;
  -webkit-transition: rotate 0.2s;
  transition: rotate 0.2s;
}
.img-card__btn-icon {
  width: 36px;
  height: 23px;
  fill: #000;
  rotate: z -7deg;
  translate: 12px -3px;
}
.img-card__btn:hover {
  cursor: pointer;
  rotate: z 7deg;
  scale: 1.3;
}
.img-card__btn:hover .img-card__btn-icon {
  rotate: z -7deg;
  translate: 17px -8px;
}
.img-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 20px 12px rgba(0, 0, 0, 0.15), inset 0 -5px 70px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 20px 12px rgba(0, 0, 0, 0.15), inset 0 -5px 70px 25px rgba(0, 0, 0, 0.2);
}
@media (max-width: 428px) {
  .img-card {
    width: 270px;
  }
}

.wave-card {
  width: 500px;
  height: 275px;
  background: url(../assets/wave_card_bg.svg) center/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.wave-card__avatar {
  margin: 20px 0 0 20px;
}
.wave-card__quote {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 45px 0 30px;
  line-height: 1.4;
  text-align: justify;
}
@media (max-width: 768px) {
  .wave-card {
    width: 330px;
    row-gap: 15px;
    background: url(../assets/wave_card_bg.svg) 50% 0/contain no-repeat;
  }
  .wave-card__quote {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
  }
}

.about-section {
  padding: 140px 0 0 0;
}
.about-section .about {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 130px;
}
.about-section .about__quality {
  width: 100%;
  height: 400px;
  padding: 0 0 0 15px;
  background: url(../assets/img/desktop_alpha.webp) 99% 100%/contain no-repeat;
}
.about-section .about__quality-title {
  font-size: 45px;
  font-weight: 400;
  color: #fff;
}
.about-section .about__quality-desc {
  margin: 10px 0 0 0;
  max-width: 590px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 1200px) {
  .about-section .about__quality {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(103, 143, 242)), color-stop(74%, rgba(103, 143, 242, 0))), url("../assets/img/desktop_alpha.webp") 90% 45%/500px no-repeat;
    background: linear-gradient(180deg, rgb(103, 143, 242) 0%, rgba(103, 143, 242, 0) 74%), url("../assets/img/desktop_alpha.webp") 90% 45%/500px no-repeat;
  }
}
@media (max-width: 768px) {
  .about-section .about__quality {
    background: url("../assets/img/desktop_alpha.webp") 99% 100%/450px no-repeat;
  }
  .about-section .about__quality-title {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  .about-section .about__quality-desc {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .about-section .about__quality {
    background: url("../assets/img/desktop_alpha.webp") 180px 100%/400px no-repeat;
  }
  .about-section .about__quality-desc {
    max-width: 320px;
  }
}
.about-section .about__touch {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about-section .about__touch::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -200px;
  width: 100%;
  height: 100%;
  background: url(../assets/img/phone_alpha.webp) 0 0/contain no-repeat;
  rotate: 15deg;
}
.about-section .about__touch-title {
  font-size: 45px;
  font-weight: 400;
  color: #fff;
}
.about-section .about__touch-desc {
  text-align: right;
  max-width: 480px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
}
@media (max-width: 1200px) {
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    top: -35px;
    left: -360px;
  }
}
@media (max-width: 992px) {
  .about-section .about__touch {
    height: 450px;
  }
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -380px;
  }
}
@media (max-width: 768px) {
  .about-section .about__touch {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about-section .about__touch-title {
    font-size: 35px;
    font-weight: 300;
    color: #fff;
  }
  .about-section .about__touch-desc {
    max-width: 340px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -280px;
    background: url(../assets/img/phone_alpha.webp) 0 0/90% no-repeat;
    rotate: 65deg;
  }
}
@media (max-width: 576px) {
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    top: 20px;
    left: -200px;
    background: url(../assets/img/phone_alpha.webp) -170px 0/125% no-repeat;
  }
}
@media (max-width: 428px) {
  .about-section .about__touch {
    height: 350px;
  }
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: -170px;
  }
}
.about-section .about__approach {
  width: 100%;
  height: 800px;
  padding: 0 0 0 15px;
  background: url(../assets/img/cactus_alpha.webp) 99% 100%/contain no-repeat;
}
.about-section .about__approach-title {
  margin: 200px 0 0 0;
  font-size: 45px;
  font-weight: 400;
  color: #fff;
}
.about-section .about__approach-desc {
  max-width: 730px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0 0 0;
}
@media (max-width: 992px) {
  .about-section .about__approach-desc {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .about-section .about__approach {
    height: 730px;
    background: url(../assets/img/cactus_alpha.webp) 99% 100%/320px no-repeat;
  }
  .about-section .about__approach-title {
    margin: 50px 0 0 0;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  .about-section .about__approach-desc {
    padding: 0 15px 0 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .about-section .about__approach {
    height: 500px;
    background: url(../assets/img/cactus_alpha.webp) 99% 100%/220px no-repeat;
  }
  .about-section .about__approach-title {
    margin: 0;
  }
}

.experience {
  padding: 180px 0 0 0;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90x;
  row-gap: 55px;
}
.experience__title {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 576px) {
  .experience__title {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
}
.experience__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 55px;
  width: 100%;
  padding: 0 15px;
}

.slider__right-btn, .slider__left-btn {
  width: 67px;
  height: 67px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  rotate: z 45deg;
}

.slider__right-btn-icon, .slider__left-btn-icon {
  width: 36px;
  height: 23px;
  fill: #fff;
}

.testemonials {
  padding: 100px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90px;
}
.testemonials__title {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 768px) {
  .testemonials__title {
    font-size: 35px;
  }
}

.slider {
  position: relative;
  height: 500px;
}
.slider__left-btn {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: -100px;
}
.slider__left-btn-icon {
  rotate: z 135deg;
}
.slider__right-btn {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: -100px;
}
.slider__right-btn-icon {
  rotate: z -45deg;
}
.slider__left-btn:hover, .slider__right-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.15);
}
.slider__left-btn:hover .slider__left-btn-icon,
.slider__left-btn:hover .slider__right-btn-icon, .slider__right-btn:hover .slider__left-btn-icon,
.slider__right-btn:hover .slider__right-btn-icon {
  fill: #000;
}
.slider__points {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  translate: -50% 0;
}
.slider__points-item {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.slider__points-item:hover {
  cursor: pointer;
  scale: 0.7;
  background: #b4b4b4;
}
@media (max-width: 768px) {
  .slider {
    height: 390px;
  }
  .slider__left-btn {
    top: unset;
    bottom: 20px;
    left: 0;
  }
  .slider__right-btn {
    top: unset;
    bottom: 20px;
    right: 0;
  }
  .slider__points {
    bottom: 45px;
  }
}
@media (max-width: 428px) {
  .slider__left-btn {
    left: 10px;
  }
  .slider__right-btn {
    right: 10px;
  }
}

.form-section__bg-cloud {
  background: url(../assets/img/cloud_alpha.png) center/contain no-repeat;
  width: 700px;
  height: 240px;
}

.form__name, .form__email, .form__text {
  width: 100%;
  height: 47px;
  border-radius: 20px;
  border: 1px solid #b4b4b4;
  padding: 0 1em;
  font-size: 25px;
  font-weight: 400;
  color: #000;
}
.form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder, .form__text::-webkit-input-placeholder {
  font-size: 25px;
  font-weight: 100;
  color: #b4b4b4;
}
.form__name::-moz-placeholder, .form__email::-moz-placeholder, .form__text::-moz-placeholder {
  font-size: 25px;
  font-weight: 100;
  color: #b4b4b4;
}
.form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder, .form__text:-ms-input-placeholder {
  font-size: 25px;
  font-weight: 100;
  color: #b4b4b4;
}
.form__name::-ms-input-placeholder, .form__email::-ms-input-placeholder, .form__text::-ms-input-placeholder {
  font-size: 25px;
  font-weight: 100;
  color: #b4b4b4;
}
.form__name::placeholder, .form__email::placeholder, .form__text::placeholder {
  font-size: 25px;
  font-weight: 100;
  color: #b4b4b4;
}

.form-section {
  padding: 180px 15px;
  position: relative;
  overflow: hidden;
}
.form-section .cloud--left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -350px;
}
.form-section .cloud--right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -350px;
}
.form-section__wrapper {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}
@media (max-width: 1200px) {
  .form-section {
    padding: 220px 15px 240px;
  }
}

.form {
  width: min(625px, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}
.form__title {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
.form__submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  background: #000;
  cursor: pointer;
}
.form__submit-btn:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .form__title {
    font-size: 32px;
    font-weight: 400;
    color: #000;
  }
  .form__name, .form__email, .form__text {
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }
  .form::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 100;
    color: #b4b4b4;
  }
  .form::-moz-placeholder {
    font-size: 18px;
    font-weight: 100;
    color: #b4b4b4;
  }
  .form:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 100;
    color: #b4b4b4;
  }
  .form::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 100;
    color: #b4b4b4;
  }
  .form::placeholder {
    font-size: 18px;
    font-weight: 100;
    color: #b4b4b4;
  }
}

.footer-section {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 -5px 20px 0 rgba(126, 125, 125, 0.15);
          box-shadow: 0 -5px 20px 0 rgba(126, 125, 125, 0.15);
}
.footer-section .footer {
  width: 100%;
  height: 135px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}
.footer-section .footer__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer-section .footer__terms-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.footer-section .footer__terms-rights {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.footer-section .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 43px;
}
.footer-section .footer__contacts-icon {
  width: 25px;
  height: 24px;
  fill: #fff;
}
.footer-section .footer__contacts-icon:hover {
  fill: #000;
  cursor: pointer;
}
@media (max-width: 576px) {
  .footer-section .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 15px;
  }
}